<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>805</key>
	<string>11</string>
	<key>905</key>
	<string>11</string>
	<key>1005</key>
	<string>11</string>
	<key>1105</key>
	<string>11</string>
	<key>1205</key>
	<string>11</string>
	<key>1340</key>
	<string>11</string>
	<key>1505</key>
	<string>11</string>
	<key>1530</key>
	<string>11</string>
	<key>1625</key>
	<string>11</string>
	<key>1730</key>
	<string>11</string>
	<key>1820</key>
	<string>11</string>
	<key>2002</key>
	<string>11</string>
	<key>2108</key>
	<string>11</string>
</dict>
</plist>
