<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>830</key>
	<string>15</string>
	<key>930</key>
	<string>15</string>
	<key>1030</key>
	<string>15</string>
	<key>1130</key>
	<string>15</string>
	<key>1400</key>
	<string>15</string>
	<key>1500</key>
	<string>15</string>
	<key>1600</key>
	<string>15</string>
	<key>1700</key>
	<string>15</string>
	<key>1730</key>
	<string>15</string>
	<key>1830</key>
	<string>15</string>
	<key>1930</key>
	<string>15</string>
</dict>
</plist>
