<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>750</key>
	<string>13</string>
	<key>829</key>
	<string>13</string>
	<key>931</key>
	<string>13</string>
	<key>1016</key>
	<string>13</string>
	<key>1045</key>
	<string>13</string>
	<key>1115</key>
	<string>13</string>
	<key>1145</key>
	<string>13</string>
	<key>1215</key>
	<string>13</string>
	<key>1245</key>
	<string>13</string>
	<key>1315</key>
	<string>13</string>
	<key>1345</key>
	<string>13</string>
	<key>1415</key>
	<string>13</string>
	<key>1445</key>
	<string>13</string>
	<key>1515</key>
	<string>13</string>
	<key>1545</key>
	<string>13</string>
</dict>
</plist>
