<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>657</key>
	<string>14</string>
	<key>715</key>
	<string>14</string>
	<key>725</key>
	<string>14</string>
	<key>735</key>
	<string>14</string>
	<key>747</key>
	<string>14</string>
	<key>758</key>
	<string>14</string>
	<key>818</key>
	<string>14</string>
	<key>835</key>
	<string>14</string>
	<key>839</key>
	<string>14</string>
	<key>858</key>
	<string>14</string>
	<key>912</key>
	<string>14</string>
	<key>918</key>
	<string>14</string>
	<key>928</key>
	<string>14</string>
	<key>939</key>
	<string>14</string>
	<key>943</key>
	<string>14</string>
	<key>1008</key>
	<string>14</string>
	<key>1023</key>
	<string>14</string>
	<key>1038</key>
	<string>14</string>
	<key>1108</key>
	<string>14</string>
	<key>1124</key>
	<string>14</string>
	<key>1138</key>
	<string>14</string>
	<key>1208</key>
	<string>14</string>
	<key>1223</key>
	<string>14</string>
	<key>1238</key>
	<string>14</string>
	<key>1305</key>
	<string>14</string>
	<key>1321</key>
	<string>14</string>
	<key>1336</key>
	<string>14</string>
	<key>1400</key>
	<string>14</string>
	<key>1421</key>
	<string>14</string>
	<key>1436</key>
	<string>14</string>
	<key>1500</key>
	<string>14</string>
	<key>1521</key>
	<string>14</string>
	<key>1536</key>
	<string>14</string>
	<key>1551</key>
	<string>14</string>
	<key>1605</key>
	<string>14</string>
	<key>1621</key>
	<string>14</string>
	<key>1636</key>
	<string>14</string>
	<key>1653</key>
	<string>14</string>
	<key>1701</key>
	<string>14</string>
	<key>1717</key>
	<string>14</string>
	<key>1733</key>
	<string>14</string>
	<key>1747</key>
	<string>14</string>
	<key>1802</key>
	<string>14</string>
	<key>1817</key>
	<string>14</string>
	<key>1832</key>
	<string>14</string>
	<key>1847</key>
	<string>14</string>
	<key>1902</key>
	<string>14</string>
	<key>1917</key>
	<string>14</string>
	<key>1932</key>
	<string>14</string>
	<key>1947</key>
	<string>14</string>
	<key>2002</key>
	<string>14</string>
	<key>2017</key>
	<string>14</string>
	<key>2032</key>
	<string>14</string>
	<key>2047</key>
	<string>14</string>
	<key>2102</key>
	<string>14</string>
	<key>2117</key>
	<string>14</string>
	<key>2132</key>
	<string>14</string>
	<key>2147</key>
	<string>14</string>
</dict>
</plist>
