<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>705</key>
	<string>14</string>
	<key>725</key>
	<string>14</string>
	<key>736</key>
	<string>14</string>
	<key>758</key>
	<string>14</string>
	<key>815</key>
	<string>14</string>
	<key>835</key>
	<string>14</string>
	<key>846</key>
	<string>14</string>
	<key>916</key>
	<string>14</string>
	<key>947</key>
	<string>14</string>
	<key>1031</key>
	<string>14</string>
	<key>1130</key>
	<string>14</string>
	<key>1230</key>
	<string>14</string>
	<key>1330</key>
	<string>14</string>
	<key>1430</key>
	<string>14</string>
	<key>1530</key>
	<string>14</string>
	<key>1631</key>
	<string>14</string>
</dict>
</plist>
