<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>850</key>
	<string>3</string>
	<key>1025</key>
	<string>3</string>
	<key>1055</key>
	<string>3</string>
	<key>1125</key>
	<string>3</string>
	<key>1155</key>
	<string>3</string>
	<key>1225</key>
	<string>3</string>
	<key>1255</key>
	<string>3</string>
	<key>1325</key>
	<string>3</string>
	<key>1355</key>
	<string>3</string>
	<key>1425</key>
	<string>3</string>
	<key>1454</key>
	<string>3</string>
	<key>1525</key>
	<string>3</string>
	<key>1554</key>
	<string>3</string>
	<key>1625</key>
	<string>3</string>
	<key>1654</key>
	<string>3</string>
	<key>1726</key>
	<string>3</string>
	<key>1900</key>
	<string>3</string>
	<key>1930</key>
	<string>3</string>
	<key>2005</key>
	<string>3</string>
	<key>2020</key>
	<string>3</string>
	<key>2050</key>
	<string>3</string>
	<key>2105</key>
	<string>3</string>
	<key>2140</key>
	<string>3</string>
</dict>
</plist>
