<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>915</key>
	<string>7</string>
	<key>952</key>
	<string>7</string>
	<key>1023</key>
	<string>7</string>
	<key>1053</key>
	<string>7</string>
	<key>1123</key>
	<string>7</string>
	<key>1223</key>
	<string>7</string>
	<key>1253</key>
	<string>7</string>
	<key>1323</key>
	<string>7</string>
	<key>1353</key>
	<string>7</string>
	<key>1423</key>
	<string>7</string>
	<key>1523</key>
	<string>7</string>
	<key>1623</key>
	<string>7</string>
	<key>1715</key>
	<string>7</string>
	<key>1815</key>
	<string>7</string>
	<key>1915</key>
	<string>7</string>
</dict>
</plist>
