<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>855</key>
	<string>5</string>
	<key>955</key>
	<string>5</string>
	<key>1030</key>
	<string>5</string>
	<key>1055</key>
	<string>5</string>
	<key>1130</key>
	<string>5</string>
	<key>1155</key>
	<string>5</string>
	<key>1230</key>
	<string>5</string>
	<key>1330</key>
	<string>5</string>
	<key>1400</key>
	<string>5</string>
	<key>1430</key>
	<string>5</string>
	<key>1500</key>
	<string>5</string>
	<key>1530</key>
	<string>5</string>
	<key>1600</key>
	<string>5</string>
	<key>1630</key>
	<string>5</string>
	<key>1700</key>
	<string>5</string>
	<key>1730</key>
	<string>5</string>
	<key>1800</key>
	<string>5</string>
	<key>1900</key>
	<string>5</string>
	<key>2000</key>
	<string>5</string>
</dict>
</plist>
