<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>756</key>
	<string>20</string>
	<key>801</key>
	<string>20</string>
	<key>806</key>
	<string>20</string>
	<key>811</key>
	<string>20</string>
	<key>944</key>
	<string>20</string>
	<key>954</key>
	<string>20</string>
	<key>957</key>
	<string>20</string>
	<key>1205</key>
	<string>20</string>
	<key>1210</key>
	<string>20</string>
	<key>1335</key>
	<string>20</string>
	<key>1455</key>
	<string>20</string>
	<key>1535</key>
	<string>20</string>
	<key>1710</key>
	<string>20</string>
	<key>1850</key>
	<string>20</string>
	<key>2025</key>
	<string>20</string>
</dict>
</plist>
