<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>818</key>
	<string>7</string>
	<key>913</key>
	<string>7</string>
	<key>1015</key>
	<string>7</string>
	<key>1115</key>
	<string>7</string>
	<key>1145</key>
	<string>7</string>
	<key>1215</key>
	<string>7</string>
	<key>1315</key>
	<string>7</string>
	<key>1415</key>
	<string>7</string>
	<key>1515</key>
	<string>7</string>
	<key>1615</key>
	<string>7</string>
	<key>1645</key>
	<string>7</string>
	<key>1715</key>
	<string>7</string>
	<key>1815</key>
	<string>7</string>
	<key>1845</key>
	<string>7</string>
	<key>1915</key>
	<string>7</string>
	<key>1945</key>
	<string>7</string>
	<key>2018</key>
	<string>7</string>
</dict>
</plist>
