<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>953</key>
	<string>4</string>
	<key>1016</key>
	<string>4</string>
	<key>1046</key>
	<string>4</string>
	<key>1111</key>
	<string>4</string>
	<key>1141</key>
	<string>4</string>
	<key>1211</key>
	<string>4</string>
	<key>1241</key>
	<string>4</string>
	<key>1311</key>
	<string>4</string>
	<key>1341</key>
	<string>4</string>
	<key>1411</key>
	<string>4</string>
	<key>1441</key>
	<string>4</string>
	<key>1511</key>
	<string>4</string>
	<key>1541</key>
	<string>4</string>
	<key>1611</key>
	<string>4</string>
	<key>1641</key>
	<string>4</string>
	<key>1705</key>
	<string>4</string>
	<key>1741</key>
	<string>4</string>
	<key>1754</key>
	<string>4</string>
	<key>1805</key>
	<string>4</string>
	<key>1830</key>
	<string>4</string>
	<key>1841</key>
	<string>4</string>
	<key>1854</key>
	<string>4</string>
	<key>1915</key>
	<string>4</string>
	<key>1945</key>
	<string>4</string>
	<key>2035</key>
	<string>4</string>
	<key>2120</key>
	<string>4</string>
</dict>
</plist>
