<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>658</key>
	<string>4</string>
	<key>710</key>
	<string>4</string>
	<key>725</key>
	<string>4</string>
	<key>735</key>
	<string>4</string>
	<key>750</key>
	<string>4</string>
	<key>805</key>
	<string>4</string>
	<key>820</key>
	<string>4</string>
	<key>850</key>
	<string>4</string>
	<key>905</key>
	<string>4</string>
	<key>935</key>
	<string>4</string>
	<key>1005</key>
	<string>4</string>
	<key>1025</key>
	<string>4</string>
	<key>1050</key>
	<string>4</string>
	<key>1105</key>
	<string>4</string>
	<key>1115</key>
	<string>4</string>
	<key>1145</key>
	<string>4</string>
	<key>1205</key>
	<string>4</string>
	<key>1215</key>
	<string>4</string>
	<key>1245</key>
	<string>4</string>
	<key>1305</key>
	<string>4</string>
	<key>1315</key>
	<string>4</string>
	<key>1345</key>
	<string>4</string>
	<key>1405</key>
	<string>4</string>
	<key>1415</key>
	<string>4</string>
	<key>1445</key>
	<string>4</string>
	<key>1505</key>
	<string>4</string>
	<key>1535</key>
	<string>4</string>
	<key>1550</key>
	<string>4</string>
	<key>1605</key>
	<string>4</string>
	<key>1615</key>
	<string>4</string>
	<key>1620</key>
	<string>4</string>
	<key>1635</key>
	<string>4</string>
	<key>1650</key>
	<string>4</string>
	<key>1700</key>
	<string>4</string>
	<key>1720</key>
	<string>4</string>
	<key>1735</key>
	<string>4</string>
	<key>1750</key>
	<string>4</string>
	<key>1800</key>
	<string>4</string>
	<key>1815</key>
	<string>4</string>
	<key>1830</key>
	<string>4</string>
	<key>1840</key>
	<string>4</string>
	<key>1850</key>
	<string>4</string>
	<key>1900</key>
	<string>4</string>
	<key>1915</key>
	<string>4</string>
	<key>1925</key>
	<string>4</string>
	<key>1935</key>
	<string>4</string>
	<key>1950</key>
	<string>4</string>
	<key>2005</key>
	<string>4</string>
	<key>2020</key>
	<string>4</string>
	<key>2035</key>
	<string>4</string>
	<key>2050</key>
	<string>4</string>
	<key>2105</key>
	<string>4</string>
	<key>2115</key>
	<string>4</string>
	<key>2135</key>
	<string>4</string>
	<key>2145</key>
	<string>4</string>
	<key>2150</key>
	<string>4</string>
	<key>2215</key>
	<string>4</string>
	<key>2225</key>
	<string>4</string>
	<key>2245</key>
	<string>4</string>
	<key>2310</key>
	<string>4</string>
</dict>
</plist>
