<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>855</key>
	<string>10</string>
	<key>900</key>
	<string>10</string>
	<key>905</key>
	<string>10</string>
	<key>1045</key>
	<string>10</string>
	<key>1130</key>
	<string>10</string>
	<key>1225</key>
	<string>10</string>
	<key>1245</key>
	<string>10</string>
	<key>1445</key>
	<string>10</string>
	<key>1625</key>
	<string>10</string>
	<key>1635</key>
	<string>10</string>
	<key>1805</key>
	<string>10</string>
	<key>1815</key>
	<string>10</string>
	<key>1945</key>
	<string>10</string>
	<key>2125</key>
	<string>10</string>
</dict>
</plist>
