<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>805</key>
	<string>3</string>
	<key>910</key>
	<string>3</string>
	<key>925</key>
	<string>3</string>
	<key>940</key>
	<string>3</string>
	<key>955</key>
	<string>3</string>
	<key>1010</key>
	<string>3</string>
	<key>1015</key>
	<string>3</string>
	<key>1035</key>
	<string>3</string>
	<key>1045</key>
	<string>3</string>
	<key>1100</key>
	<string>3</string>
	<key>1120</key>
	<string>3</string>
	<key>1135</key>
	<string>3</string>
	<key>1150</key>
	<string>3</string>
	<key>1210</key>
	<string>3</string>
	<key>1225</key>
	<string>3</string>
	<key>1240</key>
	<string>3</string>
	<key>1300</key>
	<string>3</string>
	<key>1310</key>
	<string>3</string>
	<key>1320</key>
	<string>3</string>
	<key>1350</key>
	<string>3</string>
	<key>1405</key>
	<string>3</string>
	<key>1420</key>
	<string>3</string>
	<key>1435</key>
	<string>3</string>
	<key>1450</key>
	<string>3</string>
	<key>1505</key>
	<string>3</string>
	<key>1512</key>
	<string>3</string>
	<key>1520</key>
	<string>3</string>
	<key>1533</key>
	<string>3</string>
	<key>1543</key>
	<string>3</string>
	<key>1550</key>
	<string>3</string>
	<key>1605</key>
	<string>3</string>
	<key>1629</key>
	<string>3</string>
	<key>1638</key>
	<string>3</string>
	<key>1650</key>
	<string>3</string>
	<key>1705</key>
	<string>3</string>
	<key>1735</key>
	<string>3</string>
	<key>1805</key>
	<string>3</string>
	<key>1820</key>
	<string>3</string>
	<key>1835</key>
	<string>3</string>
	<key>1905</key>
	<string>3</string>
	<key>1920</key>
	<string>3</string>
	<key>1935</key>
	<string>3</string>
	<key>1950</key>
	<string>3</string>
	<key>2005</key>
	<string>3</string>
	<key>2020</key>
	<string>3</string>
	<key>2035</key>
	<string>3</string>
	<key>2050</key>
	<string>3</string>
	<key>2110</key>
	<string>3</string>
	<key>2135</key>
	<string>3</string>
	<key>2205</key>
	<string>3</string>
	<key>2235</key>
	<string>3</string>
	<key>2300</key>
	<string>3</string>
</dict>
</plist>
