<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>718</key>
	<string>17</string>
	<key>743</key>
	<string>17</string>
	<key>807</key>
	<string>17</string>
	<key>829</key>
	<string>17</string>
	<key>856</key>
	<string>17</string>
	<key>940</key>
	<string>17</string>
	<key>1042</key>
	<string>17</string>
	<key>1142</key>
	<string>17</string>
	<key>1212</key>
	<string>17</string>
	<key>1242</key>
	<string>17</string>
	<key>1342</key>
	<string>17</string>
	<key>1442</key>
	<string>17</string>
	<key>1512</key>
	<string>17</string>
	<key>1542</key>
	<string>17</string>
	<key>1641</key>
	<string>17</string>
	<key>1714</key>
	<string>17</string>
	<key>1744</key>
	<string>17</string>
	<key>1814</key>
	<string>17</string>
	<key>1844</key>
	<string>17</string>
	<key>1944</key>
	<string>17</string>
	<key>2044</key>
	<string>17</string>
</dict>
</plist>
