<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>832</key>
	<string>17</string>
	<key>944</key>
	<string>17</string>
	<key>1044</key>
	<string>17</string>
	<key>1144</key>
	<string>17</string>
	<key>1244</key>
	<string>17</string>
	<key>1344</key>
	<string>17</string>
</dict>
</plist>
