<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>815</key>
	<string>3</string>
	<key>925</key>
	<string>3</string>
	<key>1015</key>
	<string>3</string>
	<key>1035</key>
	<string>3</string>
	<key>1100</key>
	<string>3</string>
	<key>1120</key>
	<string>3</string>
	<key>1140</key>
	<string>3</string>
	<key>1210</key>
	<string>3</string>
	<key>1230</key>
	<string>3</string>
	<key>1250</key>
	<string>3</string>
	<key>1310</key>
	<string>3</string>
	<key>1330</key>
	<string>3</string>
	<key>1410</key>
	<string>3</string>
	<key>1435</key>
	<string>3</string>
	<key>1510</key>
	<string>3</string>
	<key>1520</key>
	<string>3</string>
	<key>1540</key>
	<string>3</string>
	<key>1610</key>
	<string>3</string>
	<key>1630</key>
	<string>3</string>
	<key>1645</key>
	<string>3</string>
	<key>1710</key>
	<string>3</string>
	<key>1730</key>
	<string>3</string>
	<key>1745</key>
	<string>3</string>
	<key>1805</key>
	<string>3</string>
	<key>1820</key>
	<string>3</string>
	<key>1845</key>
	<string>3</string>
	<key>1905</key>
	<string>3</string>
	<key>1920</key>
	<string>3</string>
	<key>1945</key>
	<string>3</string>
	<key>2000</key>
	<string>3</string>
	<key>2015</key>
	<string>3</string>
	<key>2045</key>
	<string>3</string>
	<key>2100</key>
	<string>3</string>
	<key>2120</key>
	<string>3</string>
	<key>2140</key>
	<string>3</string>
	<key>2210</key>
	<string>3</string>
	<key>2300</key>
	<string>3</string>
</dict>
</plist>
