<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>818</key>
	<string>13</string>
	<key>832</key>
	<string>13</string>
	<key>845</key>
	<string>13</string>
	<key>900</key>
	<string>13</string>
	<key>915</key>
	<string>13</string>
	<key>922</key>
	<string>13</string>
	<key>930</key>
	<string>13</string>
	<key>938</key>
	<string>13</string>
	<key>954</key>
	<string>13</string>
	<key>1021</key>
	<string>13</string>
	<key>1036</key>
	<string>13</string>
	<key>1051</key>
	<string>13</string>
	<key>1100</key>
	<string>13</string>
	<key>1121</key>
	<string>13</string>
	<key>1136</key>
	<string>13</string>
	<key>1151</key>
	<string>13</string>
	<key>1200</key>
	<string>13</string>
	<key>1221</key>
	<string>13</string>
	<key>1236</key>
	<string>13</string>
	<key>1251</key>
	<string>13</string>
	<key>1300</key>
	<string>13</string>
	<key>1336</key>
	<string>13</string>
	<key>1351</key>
	<string>13</string>
	<key>1400</key>
	<string>13</string>
	<key>1421</key>
	<string>13</string>
	<key>1436</key>
	<string>13</string>
	<key>1451</key>
	<string>13</string>
	<key>1500</key>
	<string>13</string>
	<key>1521</key>
	<string>13</string>
	<key>1551</key>
	<string>13</string>
</dict>
</plist>
