<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>830</key>
	<string>1</string>
	<key>930</key>
	<string>1</string>
	<key>1030</key>
	<string>1</string>
	<key>1130</key>
	<string>1</string>
	<key>1300</key>
	<string>1</string>
	<key>1400</key>
	<string>1</string>
	<key>1455</key>
	<string>1</string>
	<key>1555</key>
	<string>1</string>
	<key>1655</key>
	<string>1</string>
	<key>1755</key>
	<string>1</string>
	<key>1855</key>
	<string>1</string>
	<key>2025</key>
	<string>1</string>
	<key>2130</key>
	<string>1</string>
</dict>
</plist>
