<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>703</key>
	<string>4</string>
	<key>715</key>
	<string>4</string>
	<key>730</key>
	<string>4</string>
	<key>740</key>
	<string>4</string>
	<key>750</key>
	<string>4</string>
	<key>815</key>
	<string>4</string>
	<key>830</key>
	<string>4</string>
	<key>840</key>
	<string>4</string>
	<key>855</key>
	<string>4</string>
	<key>920</key>
	<string>4</string>
	<key>935</key>
	<string>4</string>
	<key>945</key>
	<string>4</string>
	<key>1000</key>
	<string>4</string>
	<key>1020</key>
	<string>4</string>
	<key>1030</key>
	<string>4</string>
	<key>1040</key>
	<string>4</string>
	<key>1110</key>
	<string>4</string>
	<key>1140</key>
	<string>4</string>
	<key>1205</key>
	<string>4</string>
	<key>1215</key>
	<string>4</string>
	<key>1235</key>
	<string>4</string>
	<key>1250</key>
	<string>4</string>
	<key>1255</key>
	<string>4</string>
	<key>1305</key>
	<string>4</string>
	<key>1335</key>
	<string>4</string>
	<key>1345</key>
	<string>4</string>
	<key>1400</key>
	<string>4</string>
	<key>1410</key>
	<string>4</string>
	<key>1425</key>
	<string>4</string>
	<key>1440</key>
	<string>4</string>
	<key>1445</key>
	<string>4</string>
	<key>1500</key>
	<string>4</string>
	<key>1515</key>
	<string>4</string>
	<key>1525</key>
	<string>4</string>
	<key>1555</key>
	<string>4</string>
	<key>1610</key>
	<string>4</string>
	<key>1640</key>
	<string>4</string>
	<key>1703</key>
	<string>4</string>
	<key>1710</key>
	<string>4</string>
	<key>1720</key>
	<string>4</string>
	<key>1725</key>
	<string>4</string>
	<key>1733</key>
	<string>4</string>
	<key>1739</key>
	<string>4</string>
	<key>1748</key>
	<string>4</string>
	<key>1753</key>
	<string>4</string>
	<key>1802</key>
	<string>4</string>
	<key>1810</key>
	<string>4</string>
	<key>1815</key>
	<string>4</string>
	<key>1818</key>
	<string>4</string>
	<key>1823</key>
	<string>4</string>
	<key>1833</key>
	<string>4</string>
	<key>1839</key>
	<string>4</string>
	<key>1851</key>
	<string>4</string>
	<key>1854</key>
	<string>4</string>
	<key>1903</key>
	<string>4</string>
	<key>1912</key>
	<string>4</string>
	<key>1926</key>
	<string>4</string>
	<key>1939</key>
	<string>4</string>
	<key>1944</key>
	<string>4</string>
	<key>1955</key>
	<string>4</string>
	<key>2003</key>
	<string>4</string>
	<key>2010</key>
	<string>4</string>
	<key>2015</key>
	<string>4</string>
	<key>2025</key>
	<string>4</string>
	<key>2040</key>
	<string>4</string>
	<key>2045</key>
	<string>4</string>
	<key>2055</key>
	<string>4</string>
	<key>2105</key>
	<string>4</string>
	<key>2120</key>
	<string>4</string>
	<key>2125</key>
	<string>4</string>
	<key>2140</key>
	<string>4</string>
	<key>2150</key>
	<string>4</string>
	<key>2210</key>
	<string>4</string>
	<key>2215</key>
	<string>4</string>
	<key>2225</key>
	<string>4</string>
	<key>2245</key>
	<string>4</string>
	<key>2310</key>
	<string>4</string>
</dict>
</plist>
