<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1200</key>
	<string>2</string>
	<key>1220</key>
	<string>2</string>
	<key>1230</key>
	<string>2</string>
	<key>1245</key>
	<string>2</string>
	<key>1315</key>
	<string>2</string>
	<key>1325</key>
	<string>2</string>
	<key>1340</key>
	<string>2</string>
	<key>1415</key>
	<string>2</string>
	<key>1430</key>
	<string>2</string>
	<key>1433</key>
	<string>2</string>
	<key>1442</key>
	<string>2</string>
	<key>1445</key>
	<string>2</string>
	<key>1448</key>
	<string>2</string>
	<key>1458</key>
	<string>2</string>
	<key>1510</key>
	<string>2</string>
	<key>1540</key>
	<string>2</string>
	<key>1545</key>
	<string>2</string>
	<key>1548</key>
	<string>2</string>
	<key>1558</key>
	<string>2</string>
	<key>1600</key>
	<string>2</string>
	<key>1604</key>
	<string>2</string>
	<key>1609</key>
	<string>2</string>
	<key>1615</key>
	<string>2</string>
	<key>1618</key>
	<string>2</string>
	<key>1621</key>
	<string>2</string>
	<key>1624</key>
	<string>2</string>
	<key>1635</key>
	<string>2</string>
	<key>1644</key>
	<string>2</string>
	<key>1648</key>
	<string>2</string>
	<key>1655</key>
	<string>2</string>
	<key>1700</key>
	<string>2</string>
	<key>1704</key>
	<string>2</string>
	<key>1709</key>
	<string>2</string>
	<key>1715</key>
	<string>2</string>
	<key>1718</key>
	<string>2</string>
	<key>1721</key>
	<string>2</string>
	<key>1725</key>
	<string>2</string>
	<key>1730</key>
	<string>2</string>
	<key>1740</key>
	<string>2</string>
	<key>1745</key>
	<string>2</string>
	<key>1749</key>
	<string>2</string>
	<key>1752</key>
	<string>2</string>
	<key>1755</key>
	<string>2</string>
	<key>1758</key>
	<string>2</string>
	<key>1800</key>
	<string>2</string>
	<key>1803</key>
	<string>2</string>
	<key>1808</key>
	<string>2</string>
	<key>1813</key>
	<string>2</string>
	<key>1816</key>
	<string>2</string>
	<key>1824</key>
	<string>2</string>
	<key>1830</key>
	<string>2</string>
	<key>1836</key>
	<string>2</string>
	<key>1842</key>
	<string>2</string>
	<key>1848</key>
	<string>2</string>
	<key>1903</key>
	<string>2</string>
	<key>1910</key>
	<string>2</string>
	<key>1918</key>
	<string>2</string>
	<key>1925</key>
	<string>2</string>
	<key>1932</key>
	<string>2</string>
	<key>1940</key>
	<string>2</string>
	<key>1947</key>
	<string>2</string>
	<key>2000</key>
	<string>2</string>
	<key>2030</key>
	<string>2</string>
	<key>2100</key>
	<string>2</string>
	<key>2130</key>
	<string>2</string>
</dict>
</plist>
