<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>740</key>
	<string>15</string>
	<key>820</key>
	<string>15</string>
	<key>830</key>
	<string>15</string>
	<key>1015</key>
	<string>15</string>
	<key>1040</key>
	<string>15</string>
	<key>1125</key>
	<string>15</string>
	<key>1140</key>
	<string>15</string>
	<key>1220</key>
	<string>15</string>
	<key>1320</key>
	<string>15</string>
	<key>1340</key>
	<string>15</string>
	<key>1405</key>
	<string>15</string>
	<key>1445</key>
	<string>15</string>
	<key>1515</key>
	<string>15</string>
	<key>1545</key>
	<string>15</string>
	<key>1615</key>
	<string>15</string>
	<key>1635</key>
	<string>15</string>
	<key>1720</key>
	<string>15</string>
	<key>1745</key>
	<string>15</string>
	<key>1815</key>
	<string>15</string>
	<key>1915</key>
	<string>15</string>
	<key>1945</key>
	<string>15</string>
	<key>2015</key>
	<string>15</string>
	<key>2045</key>
	<string>15</string>
	<key>2115</key>
	<string>15</string>
	<key>2145</key>
	<string>15</string>
</dict>
</plist>
