<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>808</key>
	<string>13</string>
	<key>818</key>
	<string>13</string>
	<key>827</key>
	<string>13</string>
	<key>835</key>
	<string>13</string>
	<key>839</key>
	<string>13</string>
	<key>847</key>
	<string>13</string>
	<key>858</key>
	<string>13</string>
	<key>912</key>
	<string>13</string>
	<key>918</key>
	<string>13</string>
	<key>928</key>
	<string>13</string>
	<key>943</key>
	<string>13</string>
	<key>954</key>
	<string>13</string>
	<key>1008</key>
	<string>13</string>
	<key>1023</key>
	<string>13</string>
	<key>1038</key>
	<string>13</string>
	<key>1053</key>
	<string>13</string>
	<key>1108</key>
	<string>13</string>
	<key>1138</key>
	<string>13</string>
	<key>1153</key>
	<string>13</string>
	<key>1208</key>
	<string>13</string>
	<key>1223</key>
	<string>13</string>
	<key>1238</key>
	<string>13</string>
	<key>1253</key>
	<string>13</string>
	<key>1305</key>
	<string>13</string>
	<key>1336</key>
	<string>13</string>
	<key>1351</key>
	<string>13</string>
	<key>1421</key>
	<string>13</string>
	<key>1436</key>
	<string>13</string>
	<key>1451</key>
	<string>13</string>
	<key>1521</key>
	<string>13</string>
	<key>1536</key>
	<string>13</string>
	<key>1621</key>
	<string>13</string>
</dict>
</plist>
