<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>749</key>
	<string>11</string>
	<key>800</key>
	<string>11</string>
	<key>820</key>
	<string>11</string>
	<key>833</key>
	<string>11</string>
	<key>850</key>
	<string>11</string>
	<key>930</key>
	<string>11</string>
	<key>945</key>
	<string>11</string>
	<key>1000</key>
	<string>11</string>
	<key>1015</key>
	<string>11</string>
	<key>1045</key>
	<string>11</string>
	<key>1100</key>
	<string>11</string>
	<key>1135</key>
	<string>11</string>
	<key>1155</key>
	<string>11</string>
	<key>1300</key>
	<string>11</string>
	<key>1330</key>
	<string>11</string>
	<key>1340</key>
	<string>11</string>
	<key>1405</key>
	<string>11</string>
	<key>1425</key>
	<string>11</string>
	<key>1455</key>
	<string>11</string>
	<key>1525</key>
	<string>11</string>
	<key>1600</key>
	<string>11</string>
	<key>1610</key>
	<string>11</string>
	<key>1625</key>
	<string>11</string>
	<key>1655</key>
	<string>11</string>
	<key>1725</key>
	<string>11</string>
	<key>1810</key>
	<string>11</string>
	<key>1835</key>
	<string>11</string>
	<key>1855</key>
	<string>11</string>
	<key>1910</key>
	<string>11</string>
	<key>1940</key>
	<string>11</string>
	<key>1955</key>
	<string>11</string>
	<key>2025</key>
	<string>11</string>
	<key>2055</key>
	<string>11</string>
	<key>2125</key>
	<string>11</string>
</dict>
</plist>
