<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>815</key>
	<string>12</string>
	<key>820</key>
	<string>12</string>
	<key>830</key>
	<string>12</string>
	<key>831</key>
	<string>12</string>
	<key>833</key>
	<string>12</string>
	<key>839</key>
	<string>12</string>
	<key>845</key>
	<string>12</string>
	<key>858</key>
	<string>12</string>
	<key>943</key>
	<string>12</string>
	<key>954</key>
	<string>12</string>
	<key>1011</key>
	<string>12</string>
	<key>1013</key>
	<string>12</string>
	<key>1029</key>
	<string>12</string>
	<key>1045</key>
	<string>12</string>
	<key>1100</key>
	<string>12</string>
	<key>1115</key>
	<string>12</string>
	<key>1130</key>
	<string>12</string>
	<key>1200</key>
	<string>12</string>
	<key>1215</key>
	<string>12</string>
	<key>1245</key>
	<string>12</string>
	<key>1300</key>
	<string>12</string>
	<key>1315</key>
	<string>12</string>
	<key>1345</key>
	<string>12</string>
</dict>
</plist>
