<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>750</key>
	<string>12</string>
	<key>800</key>
	<string>12</string>
	<key>808</key>
	<string>12</string>
	<key>815</key>
	<string>12</string>
	<key>817</key>
	<string>12</string>
	<key>820</key>
	<string>12</string>
	<key>825</key>
	<string>12</string>
	<key>828</key>
	<string>12</string>
	<key>830</key>
	<string>12</string>
	<key>833</key>
	<string>12</string>
	<key>836</key>
	<string>12</string>
	<key>838</key>
	<string>12</string>
	<key>839</key>
	<string>12</string>
	<key>842</key>
	<string>12</string>
	<key>848</key>
	<string>12</string>
	<key>852</key>
	<string>12</string>
	<key>859</key>
	<string>12</string>
	<key>904</key>
	<string>12</string>
	<key>910</key>
	<string>12</string>
	<key>915</key>
	<string>12</string>
	<key>921</key>
	<string>12</string>
	<key>926</key>
	<string>12</string>
	<key>930</key>
	<string>12</string>
	<key>938</key>
	<string>12</string>
	<key>946</key>
	<string>12</string>
	<key>954</key>
	<string>12</string>
	<key>1000</key>
	<string>12</string>
	<key>1005</key>
	<string>12</string>
	<key>1010</key>
	<string>12</string>
	<key>1013</key>
	<string>12</string>
	<key>1017</key>
	<string>12</string>
	<key>1021</key>
	<string>12</string>
	<key>1030</key>
	<string>12</string>
	<key>1036</key>
	<string>12</string>
	<key>1045</key>
	<string>12</string>
	<key>1052</key>
	<string>12</string>
	<key>1100</key>
	<string>12</string>
	<key>1115</key>
	<string>12</string>
	<key>1122</key>
	<string>12</string>
	<key>1130</key>
	<string>12</string>
	<key>1136</key>
	<string>12</string>
	<key>1145</key>
	<string>12</string>
	<key>1151</key>
	<string>12</string>
	<key>1200</key>
	<string>12</string>
	<key>1206</key>
	<string>12</string>
	<key>1215</key>
	<string>12</string>
	<key>1221</key>
	<string>12</string>
	<key>1230</key>
	<string>12</string>
	<key>1236</key>
	<string>12</string>
	<key>1245</key>
	<string>12</string>
	<key>1252</key>
	<string>12</string>
	<key>1300</key>
	<string>12</string>
	<key>1322</key>
	<string>12</string>
	<key>1351</key>
	<string>12</string>
	<key>1415</key>
	<string>12</string>
	<key>1421</key>
	<string>12</string>
	<key>1451</key>
	<string>12</string>
</dict>
</plist>
