<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>815</key>
	<string>5</string>
	<key>900</key>
	<string>5</string>
	<key>940</key>
	<string>5</string>
	<key>1000</key>
	<string>5</string>
	<key>1045</key>
	<string>5</string>
	<key>1100</key>
	<string>5</string>
	<key>1200</key>
	<string>5</string>
	<key>1240</key>
	<string>5</string>
	<key>1300</key>
	<string>5</string>
	<key>1340</key>
	<string>5</string>
	<key>1355</key>
	<string>5</string>
	<key>1440</key>
	<string>5</string>
	<key>1450</key>
	<string>5</string>
	<key>1520</key>
	<string>5</string>
	<key>1550</key>
	<string>5</string>
	<key>1620</key>
	<string>5</string>
	<key>1655</key>
	<string>5</string>
	<key>1720</key>
	<string>5</string>
	<key>1745</key>
	<string>5</string>
	<key>1805</key>
	<string>5</string>
	<key>1825</key>
	<string>5</string>
	<key>1855</key>
	<string>5</string>
	<key>1910</key>
	<string>5</string>
	<key>1935</key>
	<string>5</string>
	<key>1950</key>
	<string>5</string>
	<key>2015</key>
	<string>5</string>
	<key>2045</key>
	<string>5</string>
	<key>2115</key>
	<string>5</string>
	<key>2145</key>
	<string>5</string>
	<key>2215</key>
	<string>5</string>
</dict>
</plist>
