<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>830</key>
	<string>1</string>
	<key>935</key>
	<string>1</string>
	<key>1035</key>
	<string>1</string>
	<key>1135</key>
	<string>1</string>
	<key>1305</key>
	<string>1</string>
	<key>1405</key>
	<string>1</string>
	<key>1455</key>
	<string>1</string>
	<key>1555</key>
	<string>1</string>
	<key>1655</key>
	<string>1</string>
	<key>1800</key>
	<string>1</string>
	<key>1905</key>
	<string>1</string>
	<key>2030</key>
	<string>1</string>
	<key>2130</key>
	<string>1</string>
</dict>
</plist>
